.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.controls {
  display: flex;
  gap: 16px;
  width: 100%;
  padding: 16px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.controlButton {
  appearance: none;
  border-radius: 8px;
  height: 40px;
  padding: 0 16px;
  border: none;
  background: white;
  color: #0070f3;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlButton:hover {
  background-color: rgba(0, 112, 243, 0.1);
}

.controlButton.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.fileList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: white;
  border-radius: 12px;
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.directoryHeader {
  font-size: 15px;
  font-weight: 1;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  border-radius: 4px;
  margin-bottom: 12px;
}

.fileItem {
  display: flex;
  border: 0.5px solid lightgray;
  align-items: center;
  padding: 12px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 15px;
}

.directoryItem {
  color: #0070f3;
  font-weight: 500;
  background-color: rgba(0, 112, 243, 0.05);
}

.fileItem:hover {
  color: white;
  background-color: #0071f3a4;
}

.selected {
  background-color: #0070f3;
  color: white;
  font-weight: 500;
}
